Repository abrosov-sergey/SIRIUS-MOBILE-2024, pull requests merged in 2024-03, with the labels that each got.

#8 Added Compilation Guide for iOS in README
  README.md
Labels: documentation, iOS

#11 Feature/abrosov/xcodegen
  .gitignore
  SiriusMobileIOS/SiriusMobileIOS/AppDelegate.swift
  SiriusMobileIOS/SiriusMobileIOS/Assets.xcassets/AccentColor.colorset/Contents.json
  SiriusMobileIOS/SiriusMobileIOS/Assets.xcassets/AppIcon.appiconset/Contents.json
  SiriusMobileIOS/SiriusMobileIOS/Assets.xcassets/Contents.json
  SiriusMobileIOS/SiriusMobileIOS/Base.lproj/LaunchScreen.storyboard
  SiriusMobileIOS/SiriusMobileIOS/Info.plist
  SiriusMobileIOS/SiriusMobileIOS/ViewController.swift
  SiriusMobileIOS/project.yml
Labels: documentation, iOS

#21 Add search screen
  SiriusMobileIOS/SiriusMobileIOS/AppDelegate.swift
  SiriusMobileIOS/SiriusMobileIOS/Assets.xcassets/AccentColor.colorset/Contents.json
  SiriusMobileIOS/SiriusMobileIOS/Assets.xcassets/AppIcon.appiconset/Contents.json
  SiriusMobileIOS/SiriusMobileIOS/Assets.xcassets/Contents.json
  SiriusMobileIOS/SiriusMobileIOS/Base.lproj/LaunchScreen.storyboard
  SiriusMobileIOS/SiriusMobileIOS/Info.plist
  SiriusMobileIOS/SiriusMobileIOS/ViewController.swift
  SiriusMobileIOS/project.yml
  sirius-map-ios/SiriusMap/AppDelegate.swift
  sirius-map-ios/SiriusMap/MapItemDetailViewController.swift
  sirius-map-ios/SiriusMap/Model/MapItem.swift
  sirius-map-ios/SiriusMap/Root/RootViewController.swift
  sirius-map-ios/SiriusMap/Search/SearchNavigationController.swift
  sirius-map-ios/SiriusMap/Search/SearchTableViewController+Updating.swift
  sirius-map-ios/SiriusMap/Search/SearchTableViewController.swift
  sirius-map-ios/SiriusMap/UIViewController+Transition.swift
  sirius-map-ios/SiriusMap/ViewController.swift
Labels: feature, iOS

#30 [SIRIUSMAP-33] Первоначальная версия логики
  flutter_sirius_map/ios/Runner.xcodeproj/project.pbxproj
  flutter_sirius_map/lib/main.dart
  flutter_sirius_map/lib/src/app/presentation/providers/app_state_provider.dart
  flutter_sirius_map/lib/src/app/presentation/states/app_state.dart
  flutter_sirius_map/lib/src/app/presentation/widgets/app.dart
  flutter_sirius_map/lib/src/config/localization/app_localization.dart
  flutter_sirius_map/lib/src/config/themes/colors/app_colors.dart
  flutter_sirius_map/lib/src/config/themes/colors/app_colors_theme.dart
  flutter_sirius_map/lib/src/config/themes/colors/app_colors_theme.tailor.dart
  flutter_sirius_map/lib/src/config/themes/dark_theme.dart
  flutter_sirius_map/lib/src/config/themes/light_theme.dart
  flutter_sirius_map/lib/src/config/themes/text_styles/app_text_theme.dart
  flutter_sirius_map/lib/src/config/themes/text_styles/app_text_theme.tailor.dart
  flutter_sirius_map/lib/src/features/favorite_place/data/repositories/favorite_places.dart
  flutter_sirius_map/lib/src/features/main_screen/presentation/pages/main_screen.dart
  flutter_sirius_map/lib/src/features/menu/presentation/providers/menu_state_provider.dart
  flutter_sirius_map/lib/src/features/project_map/presentation/providers/map_provider.dart
  flutter_sirius_map/lib/src/features/project_map/presentation/states/map_state/map_state.dart
  flutter_sirius_map/lib/src/features/project_map/presentation/states/map_state/map_state.freezed.dart
  flutter_sirius_map/lib/src/features/settings/presentation/providers/locale_provider.dart
  flutter_sirius_map/lib/src/features/settings/presentation/providers/theme_provider.dart
  flutter_sirius_map/lib/src/features/settings/presentation/widgets/setting_button.dart
  flutter_sirius_map/lib/src/utils/context.dart
  flutter_sirius_map/lib/utils/context.dart
Labels: flutter

#38 Flutter/feature/map image
  flutter_sirius_map/assets/images/sirius_plan.jpg
  flutter_sirius_map/assets/images/sirius_plan.png
  flutter_sirius_map/lib/src/features/project_map/presentation/project_map.dart
  flutter_sirius_map/pubspec.yaml
Labels: feature, flutter

#39 Загрузка, рисование и кэширование карты
  .vscode/launch.json
  flutter_sirius_map/lib/src/features/project_map/data/map_cache_interface.dart
  flutter_sirius_map/lib/src/features/project_map/data/map_cache_realisation.dart
  flutter_sirius_map/lib/src/features/project_map/data/providers/cache_path_provider.dart
  flutter_sirius_map/lib/src/features/project_map/domain/providers/map_provider.dart
  flutter_sirius_map/lib/src/features/project_map/domain/providers/map_provider.g.dart
  flutter_sirius_map/lib/src/features/project_map/presentation/db_cache_provider/db_cache_provider.dart
  flutter_sirius_map/lib/src/features/project_map/presentation/db_cache_provider/db_cache_provider.g.dart
  flutter_sirius_map/lib/src/features/project_map/presentation/project_map.dart
  flutter_sirius_map/lib/src/features/project_map/presentation/providers/map_provider.dart
  flutter_sirius_map/lib/src/features/project_map/presentation/states/map_state/map_state.dart
  flutter_sirius_map/lib/src/features/project_map/presentation/states/map_state/map_state.freezed.dart
  flutter_sirius_map/pubspec.lock
  flutter_sirius_map/pubspec.yaml
Labels: feature, flutter

#36 [SIRIUSMAP-23] кнопки настройки
  flutter_sirius_map/lib/l10n/app_en.arb
  flutter_sirius_map/lib/l10n/app_ru.arb
  flutter_sirius_map/lib/src/config/themes/colors/app_colors_theme.dart
  flutter_sirius_map/lib/src/config/themes/colors/app_colors_theme.tailor.dart
  flutter_sirius_map/lib/src/features/main_screen/presentation/pages/main_screen.dart
  flutter_sirius_map/lib/src/features/settings/presentation/widgets/setting_button.dart
  flutter_sirius_map/lib/src/utils/context.dart
Labels: feature, flutter

#40 [SIRIUSMAP-32] боттом щит
  flutter_sirius_map/lib/src/config/themes/colors/app_colors.dart
  flutter_sirius_map/lib/src/features/main_screen/presentation/pages/main_screen.dart
  flutter_sirius_map/lib/src/features/menu/presentation/providers/scroll_controller_providrr.dart
  flutter_sirius_map/lib/src/features/menu/presentation/widgets/bottom_sheet.dart
  flutter_sirius_map/lib/src/utils/sliver_utils.dart
Labels: feature, flutter

#53 Update flutter.yml
  .github/workflows/flutter.yml
Labels: flutter

#52 [SIRIUSMAP-40] Добавить тени
  flutter_sirius_map/lib/src/config/themes/colors/app_colors_theme.dart
  flutter_sirius_map/lib/src/features/menu/presentation/widgets/bottom_sheet.dart
Labels: feature, flutter

#56 [SIRIUSMAP-20] кнопка перехода на страницу маршрута
  flutter_sirius_map/lib/src/features/menu/presentation/widgets/bottom_sheet.dart
  flutter_sirius_map/lib/src/features/menu/presentation/widgets/build_route_button.dart
Labels: feature, flutter

#57 дата слой для работы с маршрутом и точками
  flutter_sirius_map/assets/points/graph.txt
  flutter_sirius_map/assets/points/positions.geojson
  flutter_sirius_map/lib/src/app/data/implementations/route_repository_imp.dart
  flutter_sirius_map/lib/src/app/data/repositories/route_repository.dart
  flutter_sirius_map/lib/src/app/data/services/dist.dart
  flutter_sirius_map/lib/src/app/data/services/graph_servise.dart
  flutter_sirius_map/lib/src/app/data/services/loaders/graph_loader.dart
  flutter_sirius_map/lib/src/app/data/services/loaders/points_loader.dart
  flutter_sirius_map/lib/src/app/data/services/points_service.dart
  flutter_sirius_map/pubspec.lock
  flutter_sirius_map/pubspec.yaml
Labels: feature, flutter

#65 Feature/abrosov/swift format
  sirius-map-ios/.swiftformat
  sirius-map-ios/Scripts/swiftformat.sh
  sirius-map-ios/project.yml
Labels: feature, iOS, required

#60 [SIRIUSMAP-21] виджет со всеми любимыми местами
  flutter_sirius_map/lib/l10n/app_en.arb
  flutter_sirius_map/lib/l10n/app_ru.arb
  flutter_sirius_map/lib/src/config/themes/text_styles/app_text_theme.dart
  flutter_sirius_map/lib/src/core/utils/context.dart
  flutter_sirius_map/lib/src/core/utils/sliver_utils.dart
  flutter_sirius_map/lib/src/core/widgets/animated_text.dart
  flutter_sirius_map/lib/src/features/favorite_place/data/repositories/favorite_places_repository.dart
  flutter_sirius_map/lib/src/features/favorite_place/data/repositories/favorite_places_repository_impl.dart
  flutter_sirius_map/lib/src/features/favorite_place/domain/models/favorite_place.dart
  flutter_sirius_map/lib/src/features/favorite_place/domain/models/favorite_place.freezed.dart
  flutter_sirius_map/lib/src/features/favorite_place/domain/providers/favorite_places_repository_provider.dart
  flutter_sirius_map/lib/src/features/favorite_place/presentation/providers/favorite_places_provider.dart
  flutter_sirius_map/lib/src/features/favorite_place/presentation/states/favorite_places_state.dart
  flutter_sirius_map/lib/src/features/favorite_place/presentation/states/favorite_places_state.freezed.dart
  flutter_sirius_map/lib/src/features/favorite_place/presentation/widgets/favorite_bloc_widget.dart
  flutter_sirius_map/lib/src/features/favorite_place/presentation/widgets/favorite_item.dart
  flutter_sirius_map/lib/src/features/main_screen/presentation/pages/main_screen.dart
  flutter_sirius_map/lib/src/features/menu/presentation/widgets/bottom_sheet.dart
  flutter_sirius_map/lib/src/features/menu/presentation/widgets/build_route_button.dart
  flutter_sirius_map/lib/src/features/settings/presentation/widgets/setting_button.dart
Labels: feature, flutter

#68 апдейт карты
  flutter_sirius_map/lib/src/app/data/implementations/route_repository_imp.dart
  flutter_sirius_map/lib/src/app/data/repositories/route_repository.dart
  flutter_sirius_map/lib/src/app/data/services/loaders/graph_loader.dart
  flutter_sirius_map/lib/src/app/data/services/loaders/points_loader.dart
  flutter_sirius_map/lib/src/app/data/services/points_service.dart
  flutter_sirius_map/lib/src/app/domain/providers/app_state_provider.dart
  flutter_sirius_map/lib/src/app/domain/providers/app_state_provider.g.dart
  flutter_sirius_map/lib/src/app/domain/states/app_state.dart
  flutter_sirius_map/lib/src/features/project_map/domain/models/map_state.dart
  flutter_sirius_map/lib/src/features/project_map/domain/providers/map_provider.dart
  flutter_sirius_map/lib/src/features/project_map/domain/providers/map_provider.g.dart
  flutter_sirius_map/lib/src/features/project_map/presentation/project_map.dart
  flutter_sirius_map/lib/src/features/project_map/presentation/widgets/my_marker_layer.dart
  flutter_sirius_map/lib/src/features/project_map/presentation/widgets/selected_point.dart
Labels: feature, flutter

#69 Feature/abrosov/application icon
  sirius-map-ios/SiriusMap/Assets.xcassets/AppIcon.appiconset/Contents.json
  sirius-map-ios/SiriusMap/Assets.xcassets/AppIcon.appiconset/sirius-map-icon.png
  sirius-map-ios/SiriusMap/Assets.xcassets/Launch/Contents.json
  sirius-map-ios/SiriusMap/Assets.xcassets/Launch/SiriusMapIcon.imageset/Contents.json
  sirius-map-ios/SiriusMap/Assets.xcassets/Launch/SiriusMapIcon.imageset/sirius-map-icon_preview_rev_1 1.png
  sirius-map-ios/SiriusMap/Assets.xcassets/Launch/SiriusMapIcon.imageset/sirius-map-icon_preview_rev_1 2.png
  sirius-map-ios/SiriusMap/Assets.xcassets/Launch/SiriusMapIcon.imageset/sirius-map-icon_preview_rev_1.png
  sirius-map-ios/SiriusMap/Assets.xcassets/Launch/SplashBackground.imageset/Contents.json
  sirius-map-ios/SiriusMap/Assets.xcassets/Launch/SplashBackground.imageset/splash-bg.png
  sirius-map-ios/SiriusMap/Assets.xcassets/Launch/SplashBackground.imageset/splash-bg@2x.png
  sirius-map-ios/SiriusMap/Assets.xcassets/Launch/SplashBackground.imageset/splash-bg@3x.png
  sirius-map-ios/SiriusMap/Base.lproj/LaunchScreen.storyboard
  sirius-map-ios/SiriusMap/Map/RouteOverlay/RouteOverlay.swift
Labels: feature, iOS, required

#72 UI: state chooser + BaseAppStateWidget
  flutter_sirius_map/lib/src/app/data/implementations/route_repository_imp.dart
  flutter_sirius_map/lib/src/app/data/repositories/route_repository.dart
  flutter_sirius_map/lib/src/app/domain/providers/app_state_provider.dart
  flutter_sirius_map/lib/src/features/favorite_place/presentation/widgets/favorite_bloc_widget.dart
  flutter_sirius_map/lib/src/features/main_screen/presentation/pages/main_screen.dart
  flutter_sirius_map/lib/src/features/menu/presentation/bottom_sheet.dart
  flutter_sirius_map/lib/src/features/menu/presentation/widgets/base_app_state_widget.dart
  flutter_sirius_map/lib/src/features/menu/presentation/widgets/build_route_button.dart
  flutter_sirius_map/lib/src/features/menu/presentation/widgets/choice_app_state_widget.dart
  flutter_sirius_map/lib/src/features/menu/presentation/widgets/route_app_state_wdget.dart
  flutter_sirius_map/lib/src/features/menu/presentation/widgets/route_builder_loaded_widget.dart
  flutter_sirius_map/lib/src/features/menu/presentation/widgets/state_chooser.dart
Labels: feature, flutter

#74 Feature/abrosov/route service
  sirius-map-ios/SiriusMap/Enums/RouteEnums.swift
  sirius-map-ios/SiriusMap/Map/RouteOverlay/RouteOverlay.swift
  sirius-map-ios/SiriusMap/Model/MapItem.swift
  sirius-map-ios/SiriusMap/Model/MockPathBuilder.swift
  sirius-map-ios/SiriusMap/Models/RouteComponents.swift
  sirius-map-ios/SiriusMap/Route/RouteView.swift
  sirius-map-ios/SiriusMap/Route/RouteViewController.swift
  sirius-map-ios/SiriusMap/Services/RouteService/Examples.swift
  sirius-map-ios/SiriusMap/Services/RouteService/RouteService.swift
  sirius-map-ios/project.yml
Labels: feature, iOS, required

#75 [SIRIUSMAP-44] qr code scanner
  .github/workflows/flutter.yml
  flutter_sirius_map/android/app/build.gradle
  flutter_sirius_map/android/app/src/main/AndroidManifest.xml
  flutter_sirius_map/android/gradle.properties
  flutter_sirius_map/ios/Runner.xcodeproj/project.pbxproj
  flutter_sirius_map/ios/Runner/Info.plist
  flutter_sirius_map/lib/l10n/app_en.arb
  flutter_sirius_map/lib/l10n/app_ru.arb
  flutter_sirius_map/lib/src/app/domain/providers/app_state_provider.dart
  flutter_sirius_map/lib/src/app/presentation/widgets/app.dart
  flutter_sirius_map/lib/src/core/navigation/app_routes.dart
  flutter_sirius_map/lib/src/features/favorite_place/presentation/widgets/favorite_bloc_widget.dart
  flutter_sirius_map/lib/src/features/main_screen/presentation/pages/main_screen.dart
  flutter_sirius_map/lib/src/features/menu/presentation/widgets/base_app_state_widget.dart
  flutter_sirius_map/lib/src/features/qr_scanner/presentation/pages/qr_scanner_page.dart
  flutter_sirius_map/pubspec.lock
  flutter_sirius_map/pubspec.yaml
Labels: feature, flutter

#81 Feature/abrosov/UI tests
  sirius-map-ios/SiriusMapUITests/Info.plist
  sirius-map-ios/SiriusMapUITests/SiriusMapUITests.swift
  sirius-map-ios/SiriusMapUITests/SiriusMapUITestsLaunchTests.swift
  sirius-map-ios/project.yml
Labels: feature, iOS, required

#84 Flutter/feature/serch field
  flutter_sirius_map/assets/fonts/AndadaPro-Bold.ttf
  flutter_sirius_map/assets/fonts/AndadaPro-BoldItalic.ttf
  flutter_sirius_map/assets/fonts/AndadaPro-ExtraBold.ttf
  flutter_sirius_map/assets/fonts/AndadaPro-ExtraBoldItalic.ttf
  flutter_sirius_map/assets/fonts/AndadaPro-Italic.ttf
  flutter_sirius_map/assets/fonts/AndadaPro-Medium.ttf
  flutter_sirius_map/assets/fonts/AndadaPro-MediumItalic.ttf
  flutter_sirius_map/assets/fonts/AndadaPro-Regular.ttf
  flutter_sirius_map/assets/fonts/AndadaPro-SemiBold.ttf
  flutter_sirius_map/assets/fonts/AndadaPro-SemiBoldItalic.ttf
  flutter_sirius_map/assets/fonts/PlayfairDisplay-Bold.ttf
  flutter_sirius_map/assets/fonts/PlayfairDisplay-Italic.ttf
  flutter_sirius_map/assets/fonts/PlayfairDisplay-Regular.ttf
  flutter_sirius_map/assets/fonts/PlayfairDisplay-SemiBold.ttf
  flutter_sirius_map/assets/points/name_to_id.json
  flutter_sirius_map/lib/src/app/presentation/widgets/app.dart
  flutter_sirius_map/lib/src/config/themes/colors/app_colors_theme.dart
  flutter_sirius_map/lib/src/config/themes/colors/app_colors_theme.tailor.dart
  flutter_sirius_map/lib/src/config/themes/dark_theme.dart
  flutter_sirius_map/lib/src/config/themes/light_theme.dart
  flutter_sirius_map/lib/src/features/main_screen/presentation/pages/main_screen.dart
  flutter_sirius_map/lib/src/features/menu/presentation/bottom_sheet.dart
  flutter_sirius_map/lib/src/features/menu/presentation/providers/scroll_controller_providrr.dart
  flutter_sirius_map/lib/src/features/menu/presentation/state_widgets/base_app_state_widget.dart
  flutter_sirius_map/lib/src/features/search/data/providers/point_searched_repository.dart
  flutter_sirius_map/lib/src/features/search/domain/entities/point_searched_entity/point_searched.dart
  flutter_sirius_map/lib/src/features/search/domain/entities/point_searched_entity/point_searched.freezed.dart
  flutter_sirius_map/lib/src/features/search/domain/entities/point_searched_entity/point_searched.g.dart
  flutter_sirius_map/lib/src/features/search/domain/providers/serach_provider.dart
  flutter_sirius_map/lib/src/features/search/domain/providers/serach_provider.g.dart
  flutter_sirius_map/lib/src/features/search/domain/repositories/point_searched_repository_interface.dart
  flutter_sirius_map/lib/src/features/search/domain/states/search_state.dart
  flutter_sirius_map/lib/src/features/search/presentation/search_field.dart
  flutter_sirius_map/pubspec.lock
  flutter_sirius_map/pubspec.yaml
Labels: feature, flutter
